<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    <a href="~/home/createacookie/"> Create Cookie</a>
    <a href="~/home/readcookie/"> Read Cookie</a>
    <a href="~/home/deletecookie/"> Delete Cookie</a>
    <div class="container body-content">
        @RenderBody()

    </div>

</body>
</html>